/* Google Fots Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@500;700&display=swap');

/* Common Style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* Header style */
.header-container{
    width: 80%;
    background: #161616;
    margin: 50px 10% ;
    border-radius: 30px;
    
}
.head{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    margin-right: 50px;
   
}
.header-contant{
   padding: 70px 0px 70px 106px ;
  
  
}
.header-contant h1{
    font-size: 58px;
    color: #ffff;
    margin: 0; 
}
.header-contant p{
    font-size: 12px;
    color: #ffff;
    margin: 0;
    padding-bottom: 30px;
}


    
.contaiont-button {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #ffff;
    
    
}
.contaiont-button:hover{
    background-color: white;
    border: 1px solid #DD0000;
    color: #DD0000;

}

.header-image {
    position: absolute;
     bottom: 0;
     right: 0; 
     margin-left: 20px;
}
.header-image img{
    /* position: absolute; */
    width: 100%;
    height: 500px;
    
   
}

/* Blog style */
.blog-containder{
    width: 80%;
    margin: 80px 10%;
    display: flex;
}
.aside-menu{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    
    }
aside a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 30px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 5px;
}
.active {
    background-color: #DD0000 !important;
    color: white;
}
.blogs ,.matchs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    width: 80%;
  }

.blog,.match{
    
    border:  1px solid #E8E8E8;
    border-radius: 10px;
    margin-top: 10px;
    
}
.blog img{
    width: 100%;
}
.blog-contant{
    padding: 20px;
}
.blog-contant h3{
    font-size: 16px;
    color: #161616;

}



.blogs button{
    display: block;
    border: 1px solid #161616;
    padding: 5px 20px;
    border-radius: 3px;



}
.blogs button a{
    text-decoration: none;
    font-size: 16px;
   color: #161616;
   
}
.blog-span{
  margin-right: 30px;
}
.button-tablte {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #ffff;
    
}
.button-tab{
    text-align: center;
}
.button-tab button{
    border: none;
    display: none;
}
/* footer style */
footer {
    background: #161616;
    width: 100%;
    height: 244px;
    text-align: center;
    padding-top:100px;
    margin: 0px;
}
footer h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
}
footer hr{
    color: 
    rgba(255, 255, 255, 0.1);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    text-align: center;
    
}
footer a{
    text-decoration: none;
    font-size: 16px;
    color: #B9B9B9;
    text-align: center;
    margin: 10px;
}
.social{
    color: white;
    
    margin: 20px;
    
}
.social a{
    font-size: 30px;
}


/* Responsive Website */
@media only screen and (max-width:588px) {
    .header-contant{
   padding: 70px 0px 70px 56px ;
  
  
}
.header-image img{
    height: 100%;
    width: 100%;
    
}
    .header-image{
        position: relative;
    }
    .head{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .blogs,.matchs{
        grid-template-columns: repeat(1,1fr);
        
    }
    .blog-containder {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    footer{
        height: 100%;
        padding-bottom: 50px;
    }
    footer nav a{
        display: block;
        
    }
}

@media only screen and (min-width:588px) and (max-width:768px) {
    .header-contant{
        padding: 70px 0px 50px 56px ;
       
       
     }
     .header-contant h1{
        font-size: 35px;
     }
     .header-contant p{
        font-size: 8px;
     }
     .contaiont-button {
        font-size: 15px;
     }
    .header-image{
        position: relative;
    }
    .blog-containder{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    
    .button-tab button{
        display: block;
        
    }
    .blog-last{
        display: none;
    }
    .aside-menu{
        width: 100%;
        height: 100%;
        background-color: white;
        margin-bottom: 50px;
    }
    

    aside a{
        display: inline;
        padding: 10px;
        margin: 10px;
        border: 1px solid gray;
        padding: 10px 20px;
    }
    .blogs,.matchs{
        grid-template-columns: repeat(2,1fr);
        
    }
    
}

/* end  */

/* upcoming page start */
.upcoming-match-country{
    display: flex;
    padding: 20px;
    align-items: center;
    
   
}

/* end */
.header-contant button {
    
   
    position: relative;
    animation: example 4s ease-in-out infinite alternate;
     
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    
    100% {background-color:red; left:200px; top:0px;}
  }

